@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ultra&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

/* TEXT & RESTART BUTTON */
h1 {
    font-size: 3rem;
    font-family: "Ultra", serif;
    letter-spacing: 0.4rem;
}

p, button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
}

button {
    border: none;
    border-radius: 1rem;
    background-color: darkcyan;
    color: white;
    padding: 1rem 5rem;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: rgba(0, 139, 139, 0.7);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

/* GAME BOARD */
#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 20em;
    max-width: 30em;
    min-height: 20em;
    max-height: 30em;
    border: solid black 1px;
}

.square {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.square:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.568);
    transition: ease-in-out 0.2s;
}

/* CIRCLE */
.circle {
    border: 15px solid red;
    box-sizing: border-box;
    border-radius: 50%;
}

/* X */
.cross {
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross::after {
    content: "";
    position: absolute;
    background-color: green;
}

.cross:before {
    left: 50%;
    width: 30%;
    height: 100%;
    margin-left: -15%;
}

.cross:after {
    top: 50%;
    width: 100%;
    height: 30%;
    margin-top: -15%;
}

.circle,
.cross {
    height: 90px;
    width: 90px;
}